<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>с нг</title>
    <style>

    </style>
</head>
<body>
    <div class="card-container">
        <div class="side">
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
        </div>
        <div class="center">
            <div class="card">
                <div class="card-page cart-page-front">
                    <div class="card-page cart-page-outside"></div>
                    <div class="card-page cart-page-inside">
                    <span class="merry-christmas">
                        <p>C HГ!!</p>
                        <img alt="С Новым Годом!!" src="sayori.jfif" />
                    </span>
                    </div>
                </div>
                <div class="card-page cart-page-bottom">
                    <p>ПОЗДРАВЛЯЮ!!!!</p>
                    <p th:text="${name} + ', y тебя нет друзей!'"></p>
                </div>
            </div>
        </div>
        <div class="side">
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
        </div>
    </div>
    <script>
        function getRandInt(min,max){
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.floor(Math.random() * (max - min + 1) + min);
        }

        let light = document.querySelectorAll('.light');
        for(let i = 0; i < light.length; i++){
            light[i].style.top = getRandInt(0,100) + '%';
            light[i].style.left = getRandInt(0,100) + '%';
            light[i].style.animationDelay = getRandInt(0,100) + 'ms'
        }
    </script>
</body>
</html>