<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'"></p>
<img th:src="'/' + ${name} + '.gif'" alt="я джифка">

<!--<form method="get">-->
<!--    <input type="text" placeholder="name">-->
<!--    <input type="text" placeholder="surname">-->
<!--    <input type="button" value="send" id="sendform">-->
<!--</form>-->

<!--<script>-->
<!--let sendform = document.getElementById(sendform);-->

<!--</script>-->
</body>
</html>